@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url("font-awesome.min.css");

body {
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.footer {
    text-align: center;
}

#editor_wrapper {
	text-shadow: none;
}

body > .container-fluid {
	display: none;
}

::-webkit-scrollbar-button{
        display: none;
}
::-webkit-scrollbar-button:hover{
        background-color: #AAA;
}
::-webkit-scrollbar-thumb{
        background-color: #CCC;
}
::-webkit-scrollbar-thumb:hover{
        background-color: #CCC;
}
::-webkit-scrollbar-track{
        background-color: rgba(40, 42, 49, 1);
}
::-webkit-scrollbar-track:hover{
        background-color: #CCC;
}
::-webkit-scrollbar{
        width: 3px;
        height: 3px;
}

@-webkit-keyframes autofill {
	to {
		color: #fff;
		background: transparent;
	}
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

@media (max-width: 360px) {
	.g-recaptcha {
		-ms-zoom: 0.95;
	        -moz-transform: scale(0.95);
	        -moz-transform-origin: 0 0;
	        -o-transform: scale(0.95);
	        -o-transform-origin: 0 0;
	        -webkit-transform: scale(0.95);
	        -webkit-transform-origin: 0 0;
	}
}

input[type="image"]{
	margin-right: 5px;
}
input[type="radio"], input[type="checkbox"] {
	margin: 4px 6px;
}

input#search,
input#search + input[type="submit"] {
	display: inline-block !important;
	width: auto !important;
}

.input-group-btn > .btn-file {
	line-height: 22px;
	border: 0px solid transparent;
	margin-left: 2px;
}
.input-group-btn > .btn-file > .fa {
	line-height: 22px;
}
.input-group .fa {
	min-width: 12px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.btn,
.btn-primary {
	overflow: hidden;
	position: relative;
}
.btn-primary:after,
.btn:after,
.input-hack:after {
	content: '';
	position: absolute;
	top: -10%;
	right: -25%;
	width: 60%;
	height: 500%;
	background-color: rgba(255,255,255,0.2);
	z-index: 1;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
	transition: all .3s ease-in-out;
}
.input-hack {
	display: inline-block;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	margin: 2px;
}
.input-hack > input {
	margin: 0px !important;
}

.btn-primary:hover:after,
.btn:hover:after,
.input-hack:hover:after {
	width: 70%;
}

.loading-overlay {
	background-color: rgba(26, 28, 34, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	text-align: center;
}
.loading-overlay img {
	top: 40%;
	position: absolute;
}

.loadinggif {
	font-size: 100px;
}

.redirectLink {
	margin-bottom: 15px !important;
}

h0, h1, h2, h3, h4, h5, h6, legend {
	font-family: Roboto;
	font-weight: 300;
}
h0, h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
        padding-bottom: 10px;
}
td > h3 {
	margin: 0px !important;
	padding: 0px !important;
	border-bottom: none !important;
}
.logo{
        padding: 20px;
}
.logo h2 {
	margin-top: 0px;
}

.login-container {
	max-width: 550px;
	padding: 20px;
	margin: auto;
	border-radius: 5px;
	background-color: rgba(26, 28, 34, 0.3);
	border: 1px solid rgba(35, 40, 46, 0.8);
}
.login-container input, .login-container select {
	margin-bottom: 10px;
}
.login-container h3 {
	margin-top: 0px;
}
.login-container .input-group {
	margin-bottom: 10px;
}

.input-group > .form-control {
	border-left: 0px;
}
.input-group > .form-control:focus {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
select.form-control {
	padding-right: 30px;
}

.btn:not(span) {
	margin: 2px;
}
h4.collapse,
.subUserShowHideTextTd.collapse {
        display: block !important;
}
.bloc {
        padding: 10px;
}
.col.footer {
	background-color: rgba(26, 28, 34, 0.5);
        padding: 30px;
        margin-top: 40px;
}
.footer.center {
        text-align: left !important;
}
.hidden, .hide {
        display: none !important;
}
.inline-block{
	display: inline-block;
}
div.OGPVersionArea{
	width: 100%;
	position: relative;
}

span.copyVersionResult{
	position: absolute;
	left: 90%;
	top: 0;
}
.bootstrap-datetimepicker-widget > ul{
	padding: 0px;
}

span.versionInfo{
	cursor: pointer;
	text-decoration: underline;
}
#dialog
{
	height: auto !important;
	color: #fff;
}

#dialog p{
	text-align: left;
	text-align: initial;
}

.table .table {
	background-color: inherit;
}
.table>thead>tr>th {
	border-bottom: none;
}

label {
	font-weight: normal;
}
.label-size {
	font-size: 90%;
	line-height: 1.5;
	font-weight: normal;
}

.tablesorter .header:hover {
	cursor: pointer;
}
.headerSortDown:before,
.headerSortUp:before
{
	font-family: 'FontAwesome';
	margin-right: 5px;
	float: left;
}
.headerSortDown:before { content: "\f107"; }
.headerSortUp:before { content: "\f106"; }

fieldset.infoBox {
	margin-right: 10px;
}
th {
	font-weight: 400 !important;
	text-transform: uppercase !important;
	background-color: rgba(26, 28, 34, 0.5);
}

.collapsible:hover {
	cursor: pointer;
}

.expandme:hover {
	background-color: rgba(67,72,87,0.6);
}

[data-toggle="tooltip"]:not(#bg_preview) {
	font-size: 130%;
}
#bg_preview + .tooltip.in {
	opacity: 1 !important;
}
.image-tooltip + .tooltip {
	left: 40px !important;
}
.image-tooltip + .tooltip > .tooltip-inner {
	max-width: 100%;
	padding: 0px;
}

.online { color: #5cb85c; }
.offline { color: #d9534f; }

input[type="checkbox"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
        font-family: FontAwesome;
	border: 1px solid rgba(67, 72, 87, 1);
	width: 16px;
	height: 16px;
	background-color: rgba(26, 28, 34, 0.2) !important;
	border-radius: 3px;
	display: inline-block;
	outline: none;
	margin: 0px 4px;
}
input[type="checkbox"][disabled] {
	border: 1px solid rgba(67, 72, 87, 0.5);
}
input[type=checkbox]:before {
        content: "\f00c";
	color: transparent;
}
input[type=checkbox]:checked:before {
	color: #fff;
}
select{
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAGFBMVEUAAAD///////////////////////////8jfp1fAAAAB3RSTlMAGjG+6/P1wTTolgAAACVJREFUCFtjYEAC5uXl5Q4MYkBSgYExvbwIKCQGZDIwMAYxYAEA1swFyXm1qtoAAAAASUVORK5CYII=") no-repeat calc(100% - 10px) 50% rgba(26, 28, 34, 0.4) !important;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
}

/* *** Button Fix *** */
button { -webkit-appearance: button; }
#server_icon,
input[name="empty_logger"]
{
	cursor: pointer;
	background-image: -webkit-linear-gradient(top, #1997c6 0, #126e90 100%);
	background-image: -o-linear-gradient(top, #1997c6 0, #126e90 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1997c6), to(#126e90));
	background-image: linear-gradient(to bottom, #1997c6 0, #126e90 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1997c6', endColorstr='#ff126e90', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #116787;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075);
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	color: #fff;
	background-color:#126e90;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
}
#server_icon:hover,
input[name="empty_logger"]:hover
{
	background-color: #126e90;
	background-position: 0 -15px;
}

/* *** Magnifier Restyling *** */
.mfp-bg {
	opacity: 1 !important;
	background: rgba(170, 170, 170, 0.3) !important;
}
.white-popup {
	background-color: rgba(26, 28, 34, 0.9) !important;
	border: 1px solid #23282e !important;
	color: #fff !important;
	border-radius: 4px !important;
	padding: 2px !important;
}
.magnificTitle {
	background-color: #1997C6 !important;
	border-radius: 4px !important;
	font-size: 15px !important;
}
.magnificSubTitle {
	background-color: transparent !important;
	padding: 5px !important;
	font-size: 14px !important;
}
.mfp-close {
	width: 30px !important;
	height: 30px !important;
	margin: 5px !important;
	background-image: -webkit-linear-gradient(top, #1997c6 0, #126e90 100%) !important;
	background-image: -o-linear-gradient(top, #1997c6 0, #126e90 100%) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1997c6), to(#126e90)) !important;
	background-image: linear-gradient(to bottom, #1997c6 0, #126e90 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1997c6', endColorstr='#ff126e90', GradientType=0) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
	background-repeat: repeat-x !important;
	border-color: #116787 !important;
	overflow: hidden !important;
	display: inline-block !important;
	position: absolute !important;
}
button.mfp-close:hover {
	background-color: #126e90 !important;
}
button.mfp-close:focus {
	outline: none !important;
}


/* *** Alert Styling *** */
.alert {
	padding-left: 50px;
	position: relative;
}
.alert:before {
	font-family: FontAwesome;
	position: absolute;
	top: 10px;
	left: 15px;
	font-size: 20px;
}
.alert.alert-info:before {
	content: "\f05a";
}
.alert.alert-success:before {
	content: "\f046";
}
.alert.alert-warning:before {
	 content: "\f071";
}
.alert.alert-danger:before {
	content: "\f057";
}


/* *** UI-Dialog Restyling *** */
.ui-widget-content {
        background-color: transparent !important;
        border-color: transparent !important;
}
.ui-dialog {
        background-color: rgba(26, 28, 34, 0.8) !important;
        border: 1px solid #23282e !important;
}
.ui-draggable .ui-dialog-titlebar {
        background-color: #1997c6;
        border: none;
        color: #fff;
}
input[name="map-image"] {
        color: #fff;
        outline: none;
}
.ui-widget-content {
        height: auto !important;
}
.ui-dialog-titlebar-close:before {
        content: "\f00d";
}
.ui-dialog-titlebar-close
{
	font-family: FontAwesome !important;
	background-image: -webkit-linear-gradient(top, #d9534f 0, #c12e2a 100%);
	background-image: -o-linear-gradient(top, #d9534f 0, #c12e2a 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d9534f), to(#c12e2a));
	background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #b92c28;
}
.ui-dialog-titlebar-close:hover
{
	background-color: #c12e2a;
}
.ui-widget input, .ui-widget select, .ui-widget textarea {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-color: rgba(26, 28, 34, 0.4);
	background-image: none;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	margin-bottom: 2px;
	border: 1px solid #22252f;
}

.ui-widget .btn:focus,
.ui-widget input:focus,
.ui-widget select:focus,
.ui-widget textarea:focus {
	outline: 0;
}
.ui-widget button:not(.ui-dialog-titlebar-close) {
	color: #fff;
	background-color: #0f5c79;
	border-color: #082f3e;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(top, #1997c6 0, #126e90 100%);
	background-image: -o-linear-gradient(top, #1997c6 0, #126e90 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1997c6), to(#126e90));
	background-image: linear-gradient(to bottom, #1997c6 0, #126e90 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1997c6', endColorstr='#ff126e90', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #116787;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075);
	border: 1px transparent;
}
.ui-widget button:not(.ui-dialog-titlebar-close):hover, .ui-widget button:not(.ui-dialog-titlebar-close):focus {
	background-color: #126e90;
	background-position: 0 -15px;
}
.list-group {
	border: 1px solid #23282e;
	background-color: rgba(26, 28, 34, 0.2);
}
.list-group-item:not(:last-child) {
	border-bottom: 1px solid #22252f;
}
.list-group > .list-group-item:nth-of-type(odd) {
	background-color: rgba(26, 28, 34, 0.2);
}


/* ***** MENU ***** */
@media (min-width: 992px) {
	.navbar-header {
		display: none;
	}
	.navigation {
		padding-right: 0px;
	}
}
.navbar-header {
	background-color: rgba(25, 151, 198, 0.8);
	border-radius: 4px;
	margin-bottom: 3px;
}
.navbar-brand {
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
}
.navbar-toggle {
	margin: 8px !important;
}
.navbar.navbar-default {
        margin-top: 15px;
}
.navbar:not(.navbar-default) {
	margin: 0px !important;
}


.navbar:not(.navbar-default) .menu {
        margin-bottom: 20px;
        border: 1px solid #22252f;
}
.menu .panel{
	margin-bottom: 0px;
	border: none;
}

.menu li:not(:last-of-type) {
        border-bottom: 1px solid #23282e;
}
.menu ul:not(:first-child) {
	border-top: 1px solid #23282e;
}

.menu ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        line-height: 35px;
        cursor: pointer;
	background-color: rgba(26, 28, 34, 0.2);
	transition: height 0.1s ease-in;
}
.menu > ul {
	background-color: rgba(26, 28, 34, 0.5);
}

.menu li li {
        line-height: 25px;
}

.menu a:hover,
.menu .ready{
        background-color: rgba(25, 151, 198, 0.8) !important;
        text-decoration: none;
	transition: max-height 0.1s;
}
[class$="menu_link_selected"],
.menu a[aria-expanded="true"] {
	background-color: #1686af !important;
}
.menu [id$=#submenu_] .btn-primary:hover {
	background-position: 0 -35px;
}
.menu .active .btn-primary:hover {
        background-position: 0 -50px;
}
.menu a {
        display: block;
        color: #fff;
        font-size: 14px;
        padding: 0px 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.menu ul[id^=submenu] ul[id^=submenu] a {
        padding: 0px 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

.menu ul[id^=submenu] a,
.menu ul#administration a,
.menu ul > li > ul a
{
        font-size: 12px;
        padding-left: 16px;
}

.menu a:hover {
        text-decoration: none;
}

.menu a[href^="#mgamemanagerpgamemonitorhomecfgid"] span:before {
	content: "" !important;
	width: 0px !important;
}

.menu img {
        max-height: 15px;
        margin-right: 5px;
        border-radius: 2px;
}
.menu a > span {
	white-space: nowrap;
	transition: padding 100ms;
}
#menu:not(.nav) a:hover > span {
	padding-left: 2px;
}
.menu .tree ul:not(.opened) .tree:before {
	visibility: hidden;
}
.menu .tree ul.opened .tree:before {
        visibility: visible;
}
[id^="mgamemanagerpgamemonitorhomecfgid"] a.user_menu_link:before {
	content: "\25CF";
	position: relative;
	left: -5px;
}



/* *** Font-Awesome *** */
a:before,
.menu .tree:before,
.menu a span:before
{
	font-family: 'FontAwesome';
}
.menu a span:before {
        width: 22px;
        display: inline-block;
}

.menu .panel > a:before {
	position: absolute;
	right: 0px;
        content: "\f104";
        margin-right: 10px;
	font-size: 80%;
	-webkit-transition: all 100ms;
	transition: all 100ms;
}
.menu .panel > a[aria-expanded="true"]:before {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.monitorbutton:before {
        display: block;
        font-size: 40px;
        //margin-bottom: -5px;
}
.loading:before {
        content: "\f021" !important;
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear;
}
.loading {
        content: "Loading..." !important;
}

form:not([name="login_form"]) .form-control,
.login-container .input-group,
input[type="checkbox"] {
	-moz-box-shadow: 0px 0px 1px 1px rgba(255,255,255,0.2);
	-webkit-box-shadow: 0px 0px 1px 1px rgba(255,255,255,0.2);
	box-shadow: 0px 0px 1px 1px rgba(255,255,255,0.2);
	border-radius: 3px;
}

.ace_scroller {
	overflow-x: scroll;
}
.ace_scrollbar-inner {
	height: 3px;
}

/* Default */
.menu a > span:before,
.administration-table a:before,
.monitorButtonContainer a:before
{ content: "\f1c0"; }

/* Defined */
.menu ul[id^="submenu"] span:before { display: none; }
.menu [href="?m=dashboard&p=dashboard"] > span:before,
.administration-table [href="?m=dashboard&p=dashboard"]:before { content: "\f0e4"; }
.menu [href="?m=gamemanager&p=game_monitor"] > span:before,
.menu [link="?m=gamemanager&p=game_monitor"] > span:before { content: "\f108"; }
.menu [href="?m=administration&p=main"] > span:before,
.menu [link="?m=administration&p=main"] > span:before { content: "\f023"; }
.menu [href="?m=TS3Admin"] > span:before { content: "\f086"; }
.menu [href^="?m=gamemanager&p=log"] > span:before,
.monitorButtonContainer [href^="?m=gamemanager&p=log"]:before { content: "\f1da"; }
.menu [href="?m=addonsmanager&p=addons_manager"] > span:before,
.monitorButtonContainer [href^="?m=addonsmanager&p=user_addons"]:before,
.administration-table [href="?m=addonsmanager&p=addons_manager"]:before { content: "\f12e"; }
.menu [href="?m=extras"] > span:before,
.administration-table [href="?m=extras"]:before{ content: "\f1e6"; }
.menu [href^="?m=ftp"] > span:before,
.monitorButtonContainer [href^="?m=ftp"]:before,
.administration-table [href^="?m=ftp"]:before{ content: "\f15c"; }
.menu [href="?m=user_games"] > span:before,
.administration-table [href="?m=user_games"]:before{ content: "\f11b"; }
.menu [href="?m=config_games"] > span:before,
.administration-table [href="?m=config_games"]:before{ content: "\f046"; }
.menu [href^="?m=litefm"] > span:before,
.menu [href="?m=litefm&p=litefm_settings"] > span:before,
.administration-table [href="?m=litefm&p=litefm_settings"]:before,
.menu [href^="?m=user_games&p=edit"] > span:before,
.monitorButtonContainer [href^="?m=user_games&p=edit"]:before{ content: "\f085"; }
.menu [href="?m=modulemanager"] > span:before,
.administration-table [href="?m=modulemanager"]:before { content: "\f009"; }
.menu [href="?m=settings"] > span:before,
.administration-table [href="?m=settings"]:before { content: "\f1de"; }
.menu [href="?m=server"] > span:before,
.administration-table [href="?m=server"]:before { content: "\f233"; }
.menu [href="?m=settings&p=themes"] > span:before,
.administration-table [href="?m=settings&p=themes"]:before { content: "\f043"; }
.menu [href="?m=update"] > span:before,
.administration-table [href="?m=update"]:before { content: "\f021"; }
.menu [href^="?m=gamemanager&p=update"] > span:before,
.menu [href^="javascript:confirmarUpdate"] > span:before,
.menu [href^="?m=steam_workshop"] > span:before,
.administration-table [href^="?m=steam_workshop"]:before,
.monitorButtonContainer [href^="?m=gamemanager&p=update"]:before { content: "\f1b6"; }
.monitorButtonContainer [href^="javascript:confirmarUpdate"]:before { content: "\f1b6"; }
.menu [href^="?m=user_admin"] > span:before,
.menu [link^="?m=user_admin"] > span:before,
.administration-table [href^="?m=user_admin"]:before{ content: "\f007"; }
.menu [href="?m=user_admin&p=show_groups"] > span:before { content: "\f0c0"; }
.menu [href="?m=administration&p=watch_logger"] > span:before,
.administration-table [href="?m=administration&p=watch_logger"]:before { content: "\f017"; }
.menu [href^="?m=cron"] > span:before,
.administration-table [href^="?m=cron"]:before { content: "\f073"; }
.menu [href="?m=mysql&p=mysql_admin"] > span:before,
.monitorButtonContainer [href^="?m=mysql"]:before,
.administration-table [href="?m=mysql&p=mysql_admin"]:before { content: "\f1c0"; }
.menu [href="?m=administration&p=banlist"] > span:before,
.administration-table [href="?m=administration&p=banlist"]:before { content: "\f05e"; }
.menu [href^="home.php?m=gamemanager&p=rcon_presets"] > span:before,
.monitorButtonContainer [href^="home.php?m=gamemanager&p=rcon_presets"]:before,
.menu [href="?m=rcon&p=rcon"] > span:before,
.administration-table [href="?m=rcon&p=rcon"]:before { content: "\f120"; }
.menu [href^="?m=gamemanager&p=rsync_install"] > span:before { content: "\f0ad"; }
.menu [href^="?m=support"] > span:before { content: "\f095"; }
.menu [href^="?m=faq"] > span:before,
.administration-table [href^="?m=faq"]:before{ content: "\f29c"; }
.menu [href^="?m=fast_download"] > span:before,
.monitorButtonContainer [href^="?m=fast_download"]:before,
.administration-table [href^="?m=fast_download"]:before { content: "\f019"; }
.menu [href^="?m=dsi"] > span:before,
.monitorButtonContainer [href^="?m=dsi"]:before,
.administration-table [href^="?m=dsi"]:before{ content: "\f03e"; }
.menu [href^="?m=simple-billing"] > span:before,
.administration-table [href^="?m=simple-billing"]:before { content: "\f07a"; }
.menu [href^="?m=billing"] > span:before,
.administration-table [href^="?m=billing"]:before { content: "\f07a"; }
.menu [href^="?m=util"] > span:before { content: "\f0ad"; }
.menu [href^="?m=lgsl_with_img_mod"] > span:before,
.administration-table [href^="?m=lgsl_with_img_mod"]:before { content: "\f022"; }
.menu [href^="?m=news"] > span:before,
.administration-table [href^="?m=news"]:before { content: "\f1ea"; }
.menu [href^="?m=register"] > span:before { content: "\f067"; }
.menu [href="?logout"] > span:before { content: "\f08b"; }
.menu [href="index.php"] > span:before { content: "\f0e4"; }
.monitorButtonContainer [href^="?m=litefm"]:before { content: "\f03a"; }
.monitorbutton.size:before { content: "\f115"; }
.monitorbutton.getAutoUpdateLink:before { content: "\f0c1"; }
.monitorButtonContainer [href^="?m=gamemanager&p=rsync_install"]:before { content: "\f0ed"; }
.administration-table [href^="?m=administration&p=iframe&external_link="]:before { content: "\f0c1"; }
.menu [href^="?m=tickets"] > span:before,
.administration-table [href^="?m=tickets"]:before { content: "\f145"; }
.monitorButtonContainer [href^="?m=editconfigfiles"]:before { content: "\f1c9"; }
.monitorButtonContainer [href^="?m=user_games&p=custom_fields"]:before { content: "\f1de"; }
.menu [href="?m=tshock"] > span:before { content: "\f1bb"; }
.menu [href="?m=circular"] > span:before { content: "\f0e0"; }
.monitorbutton.getAPILinks:before { content: "\f0ec"; }


/* *** Theme Styler - Dont remove anything below this Line or it will break the Sheet!!! *** */

/* *** THEME STYLER *** */
body {
        background-image: url(../images/bg/dark.jpg);
        background-color: #111215;
}
h1, h2, h3, h4, h5, h6, legend {
        border-bottom: 1px solid #434857;
}

.bloc,
.form-control,
table:not(.online_servers) {
	border: 1px solid rgba(67, 72, 87, 0.5);
}
input[type="checkbox"] {
	border: 1px solid #22252f;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	border-top: 1px solid rgba(67, 72, 87, 0.5);
}

form:not([name="login_form"]).form-control:focus {
	border-color: rgba(255, 255, 255, 0.4)
}

.input-group-addon {
	border: 1px solid rgba(67, 72, 87, 0.5);
	border-right: 0px;
}

th {
	background-color: rgba(26, 28, 34, 0.8) !important;
}

.col.footer,
.bloc,
table,
.form-control,
.login-container
{
	background-color: rgba(26, 28, 34, 0.65) !important;
}

/* *** THEME STYLER END *** */

